.vercel
.env*
!.env.example
node_modules
.DS_Store
*.log
.vscode
tests
playwright-report
test-results
coverage
.vite-inspect
.turbo
.netlify
tmp
docs
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
!e2e/integration/*.spec.ts
